.footer {
    font-size: 24px;
    margin: 1em 0;
}

.footer__game-status {
    display: flex;
    justify-content: space-between;
}

.footer__controls {
    display: flex;
    justify-content: flex-end;
}

.footer__restart-button {
    margin: 1em 0;
    box-shadow: -6px 6px 0px -2px var(--color-primary);
    border: 2px solid var(--color-accent1);
    background-color: var(--color-accent1);
    color: var(--color-primary);
    border-radius: 3px;
    font-size: 24px;
    cursor: pointer;
    transition: 0.2s all ease;
}

.footer__restart-button:hover {
    box-shadow: none;
    background-color: var(--color-accent2);
    border-color: var(--color-accent2);
    color: var(--color-primary);
}